<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>01</string>
	<key>CFBundleExecutable</key>
	<string>01</string>
	<key>CFBundleIconFile</key>
	<string>generated-66fd810ec73f667afe08b218d3ce01eb9460811a7044b42642f969bac2e3d468.icns</string>
	<key>CFBundleIdentifier</key>
	<string>01</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>01</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.0.0</string>
	<key>NSHighResolutionCapable</key>
	<true/>
</dict>
</plist>
